body {
    widows: 100%;
    height: 100%;
    background-color: #FFF !important;
}

.container {
    width: 100%;
    z-index: 2000;
    font-family: monospace !important;
}

.about-container {
    width: 950px;
    margin-bottom: 3em;
}

.about-container h3 {
    text-align: center;
}

.bio {
    background: url();
    display: flex;
    margin: auto;
    padding: 3em;
}

.bio img {
    width: 80%;
    position: relative;
    left: -10%;
}

.bio blockquote {
    font-size: medium;
}

.service {
    width: 70px;
    margin: auto;
}

.craft-form h1,
.craft-work h1,
.craft-form h2,
.craft-form h3,
.craft-form h4,
.craft-form h5,
input[type="submit"] {
    text-align:center;
}

.craft-form h1 {
    padding: .2em;
}

.craft-form {
    background: url("../../../storage/app/public/images/photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 1.5em;
}

#submit-form {
    border: rgb(78, 255, 122) solid 2px;
    border-radius: 30px;
    background-color: transparent;
    padding: .5em 2em .5em 2em;
    margin: 1em 0 0 0;
    font-size: 1em;
    font-weight: 900;
    color: rgb(78, 255, 131);; 
}

#submit-form:hover {
    background-color: rgba(78, 255, 122, .10);
}

.craft-work {
    // box-shadow: 2px 0 5px -2px rgba(0, 0, 0, .95);
    z-index: 1000;
    display: flex;
    flex-flow: column;
    padding: 0 0 0 10em !important;
    background: rgba(224, 228, 228, 0.856);
    height: 736px;
}

.craft-work img {
    width:100%;
    margin:1em 0;
}

.panel {
    font-family: monospace;
    margin-top: 15%;
}

.social {
    display: flex;
    justify-content: center;
    align-content: center;
}

.social_icons {
    margin: 0 2em;
    text-align: center;
    height: 100%;
}

.container-fluid {
    padding: 0 !important;
}

.craft-container {
    margin-top: 50px;
    margin-bottom: 3.78em;;
    width: 100%;
}

.posts-container {
    width: 100%;
    height: 100%;
    background: url("../../../storage/app/public/social/371905140_MEET_ROBOT_400px.gif");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.posts-widget {
    width: 65%;
    margin: 0 auto;
    margin-top: 10%;
    padding: 2em;
    // background-color: rgba(224, 228, 228, 0.856);
}

.posts-widget .media {
    margin-bottom: 2em;
}

.posts-widget small {
    font: "Raleway";
}

.posts-widget blockquote {
    margin-top: 2em;
}

.center {
    text-align: center;
}

#post-image {
    width: 50px;
    height: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    background: rgb(37, 36, 36);
    color: rgb(235, 230, 230);
    padding: 1em 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 0 auto;
}